@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,500;0,700;1,300&display=swap');

body, 
  h1, h2, h3, h4, h5, h6,
  input
  {
    font-family: 'Ubuntu', sans-serif !important;
  }

  p {
    font-weight: 100;
    font-size: 1em;
  }

.this-share-button {
  padding-top: 90px;
}

h2 {
  font-weight: 300;
  font-size: 1.5em;
}

.header {
  display: flex;
  flex-direction: column;
  width: 100vw;
  height: 10vh;
  background-color: #70bcff;
  position: fixed;
  top: 0;
  z-index: 999;  box-shadow: 0 0px 16px 4px rgba(0,0,0, 0.3);
}

.container {
  display: flex;
  flex-direction: column;
  margin-top: 12vh;
}

.fa-5x {
  font-size: 4em;
  text-align: center;
}

@media (max-width: 425px) {

.datepicker {
  display: flex !important;
  position: fixed !important;
  bottom: 0px !important;
  flex-direction: column !important;
  top: 70vh !important;
  left: 30px !important;
  z-index: 10 !important;
  width: 100% !important;
  margin: 0 auto !important;
  left: 0 !important;
  right: 0 !important;
  border: 0 !important;
  border-top: 0.1em solid gray !important;
}

.datepicker-years, .datepicker-months, .datepicker-days {
  display: flex !important;
  flex-direction: column !important;
}
}